$colors: (
  primary: #252b42,
  secondary: #ffa62b,
  info: #00a0c1,
  dark-info: #16697a,
  muted: #737373,
  facebook: #335bf5,
  instagram: #e61f5a,
  twitter: #21a6df,
  youtube: #e42f08,
  disabled: #8ec2f2,
);
