section#why {
  .title {
    font-size: 3rem;
    color: map-get($map: $colors, $key: primary);
    line-height: 1.1;
    margin-bottom: 2rem;
    text-transform: uppercase;
  }

  p {
    font-size: 1.2rem;
    margin: 2rem 0;
    color: map-get($map: $colors, $key: muted);
  }

  .card {
    box-shadow: 0 5px 15px darken(#fff, 10);
    padding: 3em;
    background-color: #fff;
    text-align: center;

    &:hover {
      box-shadow: 0 5px 20px darken(#fff, 15);
    }

    .card-img-wraper {
      height: 75px;
    }

    h4 {
      color: map-get($map: $colors, $key: primary);
      font-size: 2em;
      margin-bottom: 0.3em;
    }

    p {
      font-size: 1.5em;
      color: map-get($map: $colors, $key: muted);
    }
  }
}
